/* SoloFolio Dark Color Scheme
*/

a:link, 
a:visited,
a:hover, 
a:active
{ 
	text-decoration: none;
}
	
body, 
#de-preview,
#suckerfishnav li:hover ul, #suckerfishnav li li:hover ul, #suckerfishnav li li li:hover ul, #suckerfishnav li li li li:hover ul, #suckerfishnav li.sfhover ul, #suckerfishnav li li.sfhover ul, #suckerfishnav li li li.sfhover ul, #suckerfishnav li li li li.sfhover ul 
	{
	background-color: #1d1d1d;
	color: #666666;
	font-size: 12px;
}
	
#wrapper,
.jdGallery .slideElement,
.jdGallery .carousel,
input,
textarea
{
	background-color: #262626;
}

.myGallery {
	border: none;
	}

#wrapper {
	border: #cccccc;
	}

body,
p,
span>
#header,
#footer,
#footer a,
a:link, 
a:visited,
.date,
.wp-caption p.wp-caption-text,
input, 
textarea,
input:focus, 
textarea:focus
{
	color: #666666;
}

/* moved to accent feature 8.23.2010
h2,
a:hover, 
a:active, 
#footer a:hover,
.post-title a,
.post-title a:hover
{
	color: #FFFFFF;
}*/
	
img, 
a img,
a:hover img,
.wp-caption img,
input, 
textarea,
input:focus, 
textarea:focus
{
	border: 1px solid #333333;	
}
		
.entry,
.commentlist li
{
	border-bottom: 1px solid #333333;
}


	
/* Solo Gallery Caption */

#myInfoContainer p {
	color: #747474;
	font-size: 11px;
}
	
.jdGallery .slideElement {
	background-color: #1d1d1d;
}