/* 

SoloFolio
Default Navigation 

*/

#navigation {
	width: 450px;
	}

#suckerfishnav {
	float: right;
}

#suckerfishnav, #suckerfishnav ul {
    list-style:none;
    padding:0;
    margin:0;
}

#suckerfishnav a {
    display:block;
    font-weight: normal;
    text-decoration:none;
    margin: 5px 0 2px 10px;
}

#suckerfishnav li {
    float:left;
    padding:0;
}

#suckerfishnav ul {
    position:absolute;
    left: -999em;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
}

#suckerfishnav li li {
	display: block;
	float: none;
	text-align: left;
    position: relative;
    z-index: 10;
}

#suckerfishnav li li a {
	display: block;
	margin: 0;
    padding: 0 10px 4px 10px;
}

#suckerfishnav li ul ul {
    margin:-23px 0 0 100px;
}

#suckerfishnav li:hover a, #suckerfishnav li.sfhover a {
}

#suckerfishnav li:hover li a, #suckerfishnav li li:hover li a, #suckerfishnav li li li:hover li a, #suckerfishnav li li li li:hover li a {
}
    
#suckerfishnav li:hover ul ul, #suckerfishnav li:hover ul ul ul, #suckerfishnav li:hover ul ul ul ul, #suckerfishnav li.sfhover ul ul, #suckerfishnav li.sfhover ul ul ul, #suckerfishnav li.sfhover ul ul ul ul {
    left:-999em;
    }
#suckerfishnav li:hover ul, #suckerfishnav li li:hover ul, #suckerfishnav li li li:hover ul, #suckerfishnav li li li li:hover ul, #suckerfishnav li.sfhover ul, #suckerfishnav li li.sfhover ul, #suckerfishnav li li li.sfhover ul, #suckerfishnav li li li li.sfhover ul {
    left:auto;
    background:#000000;
    padding: 3px 0 6px;
    z-index: 7;
    }

.solo-nav a {
	font-weight: normal;
	}

.solo-nav li {
	padding: 0 0 0 8px;
}
